*{
    margin: 0;
    padding: 0;
    font-size: xx-large;
    background-image: none;
}
body{
    background-color: snow;
}
header {
  font-family: 'Pokemon Solid', sans-serif;
    height: 80px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  color: red;

}
form{
  height: 350px;
  background-color: rgb(144, 224, 64);
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;
  margin: 20px;
  padding: 0;
  
}

.pokemon-image{
  width: 256px; 
  height: 256px;
  border-radius: 20px;
  background-color: darkgreen;
}
#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .pokemon-outline{
    background-color: rgb(144, 224, 64);
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 15px; */
    text-align: center;
    padding: 10px;
  }

  .stats{
    font-size: smaller;
  }

  